<!DOCTYPE html>
<html>
<head>
    <title>Users List | View Users | E X P R E S S</title>
    <meta content="" name="description" />
<meta content="" name="keywords" />
<!-- Favicons -->
<link href="assets/img/logo.png" rel="icon" />
<link href="assets/img/logo.png" rel="apple-touch-icon" />
<!-- CSS Files -->
<link href="style.css" rel="stylesheet" />
</head>
<body>
<div class="form">
<div class="head">
<h2>Total Users </h2>
<a id="add" href="/add-user">+Add User</a>
</div>
<table>
<tr>
<th>Serial </th>
<th>Name</th>
<th>Edit</th>
<th>Delete</th>
</tr>
<% if (users.length > 0){  %>
<% for (var i = 0; i < users.length; i++){
%>
<tr> 
<td><%-i%></td>
<td><strong><%-users[i].user_name %></strong>
</td>
<td> <a id="edit" href="/edit-user?userId=<%-users[i].user_id %>"> Edit </a> 
</td> 
<td><a id="delete" href="/delete-user?userId=<%-users[i].user_id%>"> Delete </a>
</td>
</tr>
<% } %>
<% } else { %> < strong > No User Found</strong >
<% } %>

</table>


</div>
</body>
</html>