<!DOCTYPE html>
<html>
<head>
    <title>Users List | View Users | E X P R E S S</title>
    <meta content="" name="description" />
<meta content="" name="keywords" />
<!-- Favicons -->
<link href="assets/img/logo.png" rel="icon" />
<link href="assets/img/logo.png" rel="apple-touch-icon" />
<!-- CSS Files -->
<link href="style.css" rel="stylesheet" />
</head>
<body>
<div class="form">
<div class="head">
<h2>Total Users </h2>
<a id="add" href="/add-user">+Add User</a>
</div>
<table>
<tr>
<th>Serial </th>
<th>Name</th>
<th>Edit</th>
<th>Delete</th>
</tr>
<tr>
<td>01</td>
<td><strong>Ghs Julian</strong></td>
<td><a id="edit" href="/edit-user">Edit</a></td>
<td><a id="delete" href="/delete-user">Delete</a></td>
</tr>
<tr>
<td>02</td>
<td><strong>Smita Smith</strong></td>
<td><a id="edit" href="/edit-user">Edit</a></td>
<td><a id="delete" href="/delete-user">Delete</a></td>
</tr>
<tr>
<td>03</td>
<td><strong>Alice Cooper</strong></td>
<td><a id="edit" href="/edit-user">Edit</a></td>
<td><a id="delete" href="/delete-user">Delete</a></td>
</tr>
<tr>
<td>04</td>
<td><strong>Maria Smith</strong></td>
<td><a id="edit" href="/edit-user">Edit</a></td>
<td><a id="delete" href="/delete-user">Delete</a></td>
</tr>
<tr>
<td>05</td>
<td><strong>Siya Rai</strong></td>
<td><a id="edit" href="/edit-user">Edit</a></td>
<td><a id="delete" href="/delete-user">Delete</a></td>
</tr>
<tr>
<td>06</td>
<td><strong>Sunita Sharma</strong></td>
<td><a id="edit" href="/edit-user">Edit</a></td>
<td><a id="delete" href="/delete-user">Delete</a></td>
</tr>


</table>
</div>
</body>
</html>